[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"
djangorestframework = "*"
django-filter = "*"
stripe = "*"

[dev-packages]
black = "*"
pytest-cov = "*"
pytest-django = "*"
mypy = "*"

[requires]
python_version = "3.10"
