<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    {% for game in games %}
    <div>
      <a href="{% url 'core:store_game_detail' game.slug %}">
        <p>{{game.name}}</p>
        <p>Price: {{game.price}}</p>
        <img src="{{game.cover.url}}" alt="{{game.name}}'s' cover" />
      </a>
    </div>
    {% endfor %}
  </body>
</html>
