{% extends 'base.html' %}
<!---->
{% block title %} | Store{% endblock title %}
<!---->

{% block content %}
<!---->
<div class="py-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <!-- For   -->
      {% for game in games %}

      <div class="col">
        <div class="card shadow-sm">
          <div>
            <img
              class="bd-placeholder-img card-img-top"
              src="{{game.cover.url}}"
              alt="{album.name}"
            />
          </div>

          <div class="card-body">
            <p class="card-text">Name: {{game.name}}</p>
            <p>Price: {{game.price}} $</p>

            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a
                  class="btn btn-sm btn-outline-secondary"
                  href="{% url 'core:store_game_detail' game.slug %}"
                  >View</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End for  -->
      {% endfor %}
    </div>
  </div>
</div>

<!---->
{% endblock content %}
